@font-face {
    font-family: 'Kalameh';
    src: url("font/Kalameh/Farsi_Numerals/WebFonts/fonts/woff2/KalamehWebFaNum-Regular.woff2") format("woff2"),
    url("font/Kalameh/Farsi_Numerals/WebFonts/fonts/woff/KalamehWebFaNum-Regular.woff") format("woff"),
    url("font/Kalameh/Farsi_Numerals/TTF/KalamehFaNum-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Kalameh-Bold';
    src: url("font/Kalameh/Farsi_Numerals/WebFonts/fonts/woff2/KalamehWebFaNum-Bold.woff2") format("woff2"),
    url("font/Kalameh/Farsi_Numerals/WebFonts/fonts/woff/KalamehWebFaNum-Bold.woff") format("woff"),
    url("font/Kalameh/Farsi_Numerals/TTF/KalamehFaNum-Bold.ttf") format("truetype");
}
